# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [8]:
import pandas as pd 
import numpy as np 

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
df.columns


df.columns = df.columns.str.lower()  # Convert column names to lowercase
df.columns = df.columns.str.replace(' ', '_')  # Replace white spaces with underscores
df.columns = df.columns.str.replace('st', 'state') # Replace 'st' with 'state'

df.columns

Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [10]:
# Clean the 'gender' column
df['gender'] = df['gender'].str.lower()  # Convert all values to lowercase
df['gender'].replace({'femal': 'f', 'female': 'f', 'male': 'm'}, inplace=True)  # Standardize gender values

# Clean the 'state' column
state_mapping = {
    'az': 'arizona',
    'cali': 'california',
    'wa': 'washington'
}
df['state'] = df['state'].str.lower().map(state_mapping).fillna(df['state'])  # Map state abbreviations to full names

# Clean the 'education' column
df['education'] = df['education'].str.replace('bachelors', 'bachelor', case=False)  # Replace 'Bachelors' with 'Bachelor'

# Clean the 'customer_lifetime_value' column
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')  # Remove '%' character

# Clean the 'vehicle_class' column
vehicle_class_mapping = {
    'sports car': 'luxury',
    'luxury suv': 'luxury',
    'luxury car': 'luxury'
}
df['vehicle_class'] = df['vehicle_class'].str.lower().map(vehicle_class_mapping).fillna(df['vehicle_class'])  # Map vehicle class values

# Display the cleaned DataFrame
print(df)

/var/folders/jn/pqdsw5cd4ll09gfvv3n2v0kw0000gr/T/ipykernel_55465/1377159726.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace({'femal': 'f', 'female': 'f', 'male': 'm'}, inplace=True)  # Standardize gender values

KeyError: 'customer_lifetime_value'

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Convert 'customer_lifetime_value' to numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

# Correct the format of 'number_of_open_complaints' and convert it to numeric
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: x.split('/')[0] if isinstance(x, str) else x)
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# Display the updated data types of the columns
print(df.dtypes)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [11]:
null_columns = df.columns[df.isnull().any()]
null_count = df[null_columns].isnull().sum()

# Drop rows with null values
df.dropna(axis=0, inplace=True)
df.dropna(axis=1, inplace=True)

# Check if there are still null values in the dataset
null_values_check = df.isnull().sum().sum()


#This code calculates the sum of null values across all columns in the DataFrame df. 
# If the sum is zero, it means there are no null values in the dataset after handling. 
#Otherwise, it prints out the number of remaining null values in the dataset. 
#This verification step ensures that null values have been successfully handled according to the chosen strategy.
if null_values_check == 0:
    print("There are no null values in the dataset after handling.")
else:
    print(f"There are still {null_values_check} null values in the dataset after handling.")

# Convert numeric variables to integers
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].astype(int)

There are no null values in the dataset after handling.

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [14]:
# Keep only the first occurrence of each duplicated row
duplicates_after_drop = df.duplicated().sum()
if duplicates_after_drop == 0:
    print("No duplicates found after dropping duplicates.")
else:
    print(f"There are still {duplicates_after_drop} duplicates after dropping duplicates.")

# Display the DataFrame after removing duplicate rows
print(df)

#df.drop_duplicates(keep='first', inplace=True) drops duplicate rows from the DataFrame, keeping only the first occurrence of each duplicated row. The parameter keep='first' ensures that only the first occurrence of duplicated rows is kept.
#The inplace=True parameter modifies the DataFrame in place, so there's no need to assign the result back to df.
#After executing this code, the DataFrame df will contain only the first occurrence of each duplicated row.

# Reset index to ensure consistency
df.reset_index(drop=True, inplace=True)

# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_data.csv', index=False)

No duplicates found after dropping duplicates.
     custateomer       state gender             education  \
1        QZ44356     Arizona      f              Bachelor
2        AI49188      Nevada      f              Bachelor
3        WW63253  California      m              Bachelor
4        GA49547  Washington      m  High School or Below
5        OC83172      Oregon      f              Bachelor
...          ...         ...    ...                   ...
1066     TM65736      Oregon      m                Master
1067     VJ51327  california      f  High School or Below
1068     GS98873     Arizona      f              Bachelor
1069     CW49887  California      f                Master
1070     MY31220  California      f               College

     custateomer_lifetime_value   income  monthly_premium_auto  \
1                    697953.59%      0.0                  94.0
2                   1288743.17%  48767.0                 108.0
3                    764586.18%      0.0                 106.0
4                    536307.65%  36357.0                  68.0
5                    825629.78%  62902.0                  69.0
...                         ...      ...                   ...
1066                 305955.03%  38644.0                  78.0
1067                2031499.76%  63209.0                 102.0
1068                 323912.47%  16061.0                  88.0
1069                 462680.11%  79487.0                 114.0
1070                 899704.02%  54230.0                 112.0

     number_of_open_complaints     policy_type  vehicle_class  \
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
5                       1/0/00   Personal Auto   Two-Door Car
...                        ...             ...            ...
1066                    1/1/00   Personal Auto  Four-Door Car
1067                    1/2/00   Personal Auto            SUV
1068                    1/0/00   Personal Auto  Four-Door Car
1069                    1/0/00    Special Auto            SUV
1070                    1/0/00   Personal Auto   Two-Door Car

      total_claim_amount
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
5             159.383042
...                  ...
1066          361.455219
1067          207.320041
1068          633.600000
1069          547.200000
1070          537.600000

[952 rows x 11 columns]

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [16]:
import pandas as pd

def load_data(Users/armeniphone/Desktop/Ironhack/week_2_pandas):
    """
    Load data from a CSV file into a DataFrame.
    """
    df = pd.read_csv(Users/armeniphone/Desktop/Ironhack/week_2_pandas)
    return df

def clean_data(df):
    """
    Perform data cleaning and formatting steps.
    """
    # Clean and format the data here
    # For example:
    # Fill null values, handle inconsistent values, convert data types, drop duplicates, etc.

    return df

def save_cleaned_data(df, Users/armeniphone/Desktop/Ironhack/week_2_pandas):
    """
    Save the cleaned DataFrame to a new CSV file.
    """
    df.to_csv(Users/armeniphone/Desktop/Ironhack/week_2_pandas, index=False)

SyntaxError: invalid syntax (387855299.py, line 3)

In [ ]:
from cleaning_functions import load_data, clean_data, save_cleaned_data

def main():
    # Load data
    Users/armeniphone/Desktop/Ironhack/week_2_pandas = 'your_data.csv'
    df = load_data(Users/armeniphone/Desktop/Ironhack/week_2_pandas)

    # Perform data cleaning and formatting
    df = clean_data(df)

    # Save cleaned data to a new CSV file
    cleaned_file_path = 'cleaned_data.csv'
    save_cleaned_data(df, cleaned_file_path)

if __name__ == "__main__":
    main()

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
import pandas as pd

# Load the cleaned data
df = pd.read_csv('cleaned_data.csv')

# Review statistics for total claim amount and customer lifetime value
claim_amount_stats = df['total_claim_amount'].describe()
customer_lifetime_value_stats = df['customer_lifetime_value'].describe()

print("Total Claim Amount Statistics:")
print(claim_amount_stats)
print("\nCustomer Lifetime Value Statistics:")
print(customer_lifetime_value_stats)

# Identify customers with a high policy claim amount (top 25%) and low customer lifetime value (bottom 25%)
claim_amount_threshold = df['total_claim_amount'].quantile(0.75)
customer_lifetime_value_threshold = df['customer_lifetime_value'].quantile(0.25)

high_claim_low_value_customers = df[
    (df['total_claim_amount'] > claim_amount_threshold) & 
    (df['customer_lifetime_value'] < customer_lifetime_value_threshold)
]

# Calculate summary statistics for high policy claim amount and low customer lifetime value data
summary_statistics = high_claim_low_value_customers[['total_claim_amount', 'customer_lifetime_value']].describe()

print("\nSummary Statistics for High Claim Amount and Low Customer Lifetime Value Customers:")
print(summary_statistics)